In [50]:
import pandas as pd
import numpy as np

# 1차원 배열 자료구조
# 테이블 데이터의 1개 컬럼만 갖고 있다고 보면 됨
obj = pd.Series({
    'test': 1
    , 'TEST2': 2
    , 'test3' : 3    
})

# 2번째 데이터 접근은 아래 둘다 가능
obj[1]
obj['TEST2']

# null 값 확인, NaN으로 표시되는 결측치를확인하는 용도로 사용 가능
obj.isnull()

df = pd.DataFrame({
    'col1' : np.arange(10)
    , 'col2' : ['a1', 'a9','a8','a4','a3','a3','a1','a1','a1','a9']
})

df.head() # 첫 5행만 보기
df.tail() # 마지막 5행만 보기



# col1 컬럼에 접근은 아래 두가지 둘다 가능
df['col1']
df.col1

# 신규 컬럼 추가
df.col2 = np.random.rand(10)

# 데이터프레임 전체 요약(건수, 평균, 표준편차, 사분위수, 최소, 최대값 표시)
df.describe()

           col1       col2
count  10.00000  10.000000
mean    4.50000   0.451105
std     3.02765   0.280485
min     0.00000   0.039282
25%     2.25000   0.311775
50%     4.50000   0.445870
75%     6.75000   0.595579
max     9.00000   0.902832