In [44]:
library(dplyr)

library(mlbench)
data(BostonHousing)

data <- BostonHousing
str(data)
dim(data)

# crim 항목의 상위에서 10번째 값으로 상위 10개 값을 변환

summary(data$crim)

# 상위 10개값 추출
top10 <- data %>% 
    select(crim) %>%
    arrange(desc(crim)) %>%
    head(10)

data %>% 
    select(crim) %>%
    arrange(desc(crim)) %>%
    head(10)

# 10번째 값만 가져옴
top10[10,1]

# 상위 레코드 10개에 대해서만 해당 10번째 값으로 변환
data$crim <- ifelse(data$crim > top10[10,1], top10[10,1], data$crim)

data %>% 
    select(crim) %>%
    arrange(desc(crim)) %>%
    head(20)

# age 80 이상인 값에 대한 crim평균 계산
data %>%
    filter(age >= 80) %>%
    select(crim) %>%
    summarise(mean(crim))

'data.frame':	506 obs. of  14 variables:
 $ crim   : num  0.00632 0.02731 0.02729 0.03237 0.06905 ...
 $ zn     : num  18 0 0 0 0 0 12.5 12.5 12.5 12.5 ...
 $ indus  : num  2.31 7.07 7.07 2.18 2.18 2.18 7.87 7.87 7.87 7.87 ...
 $ chas   : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ nox    : num  0.538 0.469 0.469 0.458 0.458 0.458 0.524 0.524 0.524 0.524 ...
 $ rm     : num  6.58 6.42 7.18 7 7.15 ...
 $ age    : num  65.2 78.9 61.1 45.8 54.2 58.7 66.6 96.1 100 85.9 ...
 $ dis    : num  4.09 4.97 4.97 6.06 6.06 ...
 $ rad    : num  1 2 2 3 3 3 5 5 5 5 ...
 $ tax    : num  296 242 242 222 222 222 311 311 311 311 ...
 $ ptratio: num  15.3 17.8 17.8 18.7 18.7 18.7 15.2 15.2 15.2 15.2 ...
 $ b      : num  397 397 393 395 397 ...
 $ lstat  : num  4.98 9.14 4.03 2.94 5.33 ...
 $ medv   : num  24 21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 ...

[1] 506  14

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 0.00632  0.08204  0.25651  3.61352  3.67708 88.97620

   crim
1  88.9762
2  73.5341
3  67.9208
4  51.1358
5  45.7461
6  41.5292
7  38.3518
8  37.6619
9  28.6558
10 25.9406

[1] 25.9406

   crim
1  25.9406
2  25.9406
3  25.9406
4  25.9406
5  25.9406
6  25.9406
7  25.9406
8  25.9406
9  25.9406
10 25.9406
11 25.0461
12 24.8017
13 24.3938
14 23.6482
15 22.5971
16 22.0511
17 20.7162
18 20.0849
19 19.6091
20 18.8110

  mean(crim)
1 5.759387

In [56]:
library(dplyr)

data <- read.csv('./data/housing.csv')

str(data)

# 주어진 데이터를 그대로 80%를 훈련데이터로 추출

data.train <- data[1:20640*0.8,]

str(data.train)


sum(is.na(data.train$total_bedrooms))

data.train$total_bedrooms_replaced <- ifelse(is.na(data.train$total_bedrooms), median(data.train$total_bedrooms), data.train$total_bedrooms)

sum(is.na(data.train$total_bedrooms_replaced))

'data.frame':	20640 obs. of  10 variables:
 $ longitude         : num  -122 -122 -122 -122 -122 ...
 $ latitude          : num  37.9 37.9 37.9 37.9 37.9 ...
 $ housing_median_age: num  41 21 52 52 52 52 52 52 42 52 ...
 $ total_rooms       : num  880 7099 1467 1274 1627 ...
 $ total_bedrooms    : num  129 1106 190 235 280 ...
 $ population        : num  322 2401 496 558 565 ...
 $ households        : num  126 1138 177 219 259 ...
 $ median_income     : num  8.33 8.3 7.26 5.64 3.85 ...
 $ median_house_value: num  452600 358500 352100 341300 342200 ...
 $ ocean_proximity   : Factor w/ 5 levels "<1H OCEAN","INLAND",..: 4 4 4 4 4 4 4 4 4 4 ...
'data.frame':	20639 obs. of  10 variables:
 $ longitude         : num  -122 -122 -122 -122 -122 ...
 $ latitude          : num  37.9 37.9 37.9 37.9 37.9 ...
 $ housing_median_age: num  41 21 52 52 52 52 52 52 52 52 ...
 $ total_rooms       : num  880 7099 1467 1274 1274 ...
 $ total_bedrooms    : num  129 1106 190 235 235 ...
 $ population        : num  322 2401 496 558 558 ...
 $ households        : num  126 1138 177 219 219 ...
 $ median_income     : num  8.33 8.3 7.26 5.64 5.64 ...
 $ median_house_value: num  452600 358500 352100 341300 341300 ...
 $ ocean_proximity   : Factor w/ 5 levels "<1H OCEAN","INLAND",..: 4 4 4 4 4 4 4 4 4 4 ...

[1] 196

[1] 196

In [66]:
library(dplyr)

data <- read.csv('./data/insurance.csv')

str(data)

summary(data)

ch.mean <- mean(data$charges)
ch.sd <- sd(data$charges)
ch.iqr <- IQR(data$charges)


sum(data$charges[data$charges >= ch.mean + 1.5 * ch.sd])

'data.frame':	1338 obs. of  7 variables:
 $ age     : int  19 18 28 33 32 31 46 37 37 60 ...
 $ sex     : Factor w/ 2 levels "female","male": 1 2 2 2 2 1 1 1 2 1 ...
 $ bmi     : num  27.9 33.8 33 22.7 28.9 ...
 $ children: int  0 1 3 0 0 0 1 3 2 0 ...
 $ smoker  : Factor w/ 2 levels "no","yes": 2 1 1 1 1 1 1 1 1 1 ...
 $ region  : Factor w/ 4 levels "northeast","northwest",..: 4 3 3 2 2 3 3 2 1 2 ...
 $ charges : num  16885 1726 4449 21984 3867 ...

      age            sex           bmi           children     smoker
 Min.   :18.00   female:662   Min.   :15.96   Min.   :0.000   no :1064
 1st Qu.:27.00   male  :676   1st Qu.:26.30   1st Qu.:0.000   yes: 274
 Median :39.00                Median :30.40   Median :1.000
 Mean   :39.21                Mean   :30.66   Mean   :1.095
 3rd Qu.:51.00                3rd Qu.:34.69   3rd Qu.:2.000
 Max.   :64.00                Max.   :53.13   Max.   :5.000
       region       charges
 northeast:324   Min.   : 1122
 northwest:325   1st Qu.: 4740
 southeast:364   Median : 9382
 southwest:325   Mean   :13270
                 3rd Qu.:16640
                 Max.   :63770

[1] 6421430

In [74]:
library(dplyr)
library(caret)
# library(ModelMetrics)

data <- read.csv(file = './data/Train.csv')

summary(data)

Loading required package: lattice

Loading required package: ggplot2

ERROR: Error: package or namespace load failed for 'caret' in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 there is no package called 'recipes'