# pandas 기반 데이터 확인

In [60]:
import pandas as pd

df = pd.read_csv('python_stat_sample\ch1_sport_test.csv', index_col = '학생번호')

type(df) # 테이블 형태의 데이터는 데이터 프레임 => pandas.core.frame.DataFrame

df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [61]:
df2 = df['악력']

type(df2) # 컬럼 1개의 데이터는 시리즈 => pandas.core.series.Series

# 행과 열의 개수를 반환 (10,5)
# 학생번호 컬럼을 인덱스로 분리해놨기 때문에 5개 컬럼만 가지는 것
df.shape

(10, 5)

In [63]:
import numpy as np
import pandas as pd

df = pd.read_csv('python_stat_sample/ch2_scores_em.csv', index_col = 'student number')

df.shape

df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [46]:
scores = np.array(df['english'])[:10]

scores

# numpy는 통계치 계산이 함수로 제공되고, pandas는 DataFrame, Series 객체에서 멤버함수를 호출하는 식으로 제공이 됨
print(f"mean={np.mean(scores)}") # 평균
print(f"median={np.median(scores):0.3f}") # 중앙값, 소수점 이하 3자리까지 표시
# 최빈값은 DataFrame, Series를 이용
print(f"mode={pd.Series([1,2,3,4,5,5]).mode()}")

mean=55.0
median=56.500
mode=0    5
dtype: int64

In [103]:
import numpy as np

scores = [1,2,3,4,5,6,7,8,9,10]
type(scores)

np.mean(scores)
np.std(scores) # 2.8722813232690143
print(f"std = {np.std(scores):0.3f}") # 점수의 표준편차
print(f"std = {np.var(scores, ddof = 0):0.3f}") # 점수의 분산(모분산)
print(f"std = {np.var(scores, ddof = 1):0.3f}") # 점수의 분산(표본분산)

# 범위
np.max(scores) - np.min(scores)

# 사분위범위(25%, 50%, 75%)
q1 = np.percentile(scores, 25) # 1사분위수
q2 = np.percentile(scores, 50) # 2사분위수
q3 = np.percentile(scores, 75) # 3사분위수
iqr = q3 - q1 # 사분위범위(IQR)

# 정규화 => 어떤 데이터(관측값)을 통일된 지표로 변환하는 작업, 이것의 한가지 예가 표준화인 것
# 표준화 => z-score(z 점수)
# 데이터에서 평균을 빼고 표준편차로 나눠주는 작업
z = ( scores - np.mean(scores) ) / np.std(scores)
print(z)

# 표준화된 데이터는 평균이 0이고 표준편차가 1
np.mean(z)
np.std(z, ddof = 0)

std = 2.872
std = 8.250
std = 9.167
[-1.567 -1.219 -0.87  -0.522 -0.174  0.174  0.522  0.87   1.219  1.567]

1.0