In [44]:
import pandas as pd
import numpy as np

# 2차원 테이블 데이터(Tabular data) 생성
dataset = np.array([['test1', 111], ['test222', 222]])
df = pd.DataFrame(data = dataset, columns = ['class', 'score'])

#df
print(df.columns)

df.shape

df.index

list(df.index)

df.index = ['A', 'B']

df.index

df.reset_index(drop = True, inplace = True)

df

# 파일 쓰기
# df.to_csv('result.csv', header=True, index=True, encoding='utf8')

Index(['class', 'score'], dtype='object')

     class score
0    test1   111
1  test222   222

In [51]:
from sklearn.datasets import load_iris

iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris.shape

iris.head()

iris.tail()

iris.info()

iris.describe()

# 인덱스 개수 확인(행의 수)
iris.index

iris.columns

# 컬럼 일부 선택 및 조회
iris[['sepal length (cm)', 'sepal width (cm)']].head(4)

# 열을 숫자값으로 지정(iloc 함수 이용)
iris.iloc[1:4]

iris.iloc[[1,10,15], 1:4]

# 열을 컬럼명으로 지정 접근(loc 함수 이용)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

    sepal width (cm)  petal length (cm)  petal width (cm)
1                3.0                1.4               0.2
10               3.7                1.5               0.2
15               4.4                1.5               0.4