In [55]:
import pandas as pd
import numpy as np

# 2차원 테이블 데이터(Tabular data) 생성
dataset = np.array([['test1', 111], ['test222', 222]])
df = pd.DataFrame(data = dataset, columns = ['class', 'score'])

#df
print(df.columns)

df.shape

df.index

list(df.index)

df.index = ['A', 'B']

df.index

df.reset_index(drop = True, inplace = True)

df[['class','score']]

df[['score']]

df

df.append(pd.Series({'class':'test333', 'score':333}, name=3))

df['column333'] = 1

df

df['score'].astype(int)

df['score'] = df['score'].astype(int)

df.info()

df[df['score'] > 200]

df[df['score'] > 230]

# 파일 쓰기
# df.to_csv('result.csv', header=True, index=True, encoding='utf8')

Index(['class', 'score'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   class      2 non-null      object
 1   score      2 non-null      int32
 2   column333  2 non-null      int64
dtypes: int32(1), int64(1), object(1)
memory usage: 168.0+ bytes

Empty DataFrame
Columns: [class, score, column333]
Index: []

In [98]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris.shape

iris.head()

iris.tail()

iris.info()

iris.describe()

# 인덱스 개수 확인(행의 수)
iris.index

iris.columns

# 컬럼 일부 선택 및 조회
iris[['sepal length (cm)', 'sepal width (cm)']].head(4)

# 열을 숫자값으로 지정(iloc 함수 이용)
iris.iloc[1:4]

iris.iloc[[1,10,15], 1:4]

# 열을 컬럼명으로 지정 접근(loc 함수 이용)
iris.columns
iris[['sepal length (cm)', 'sepal width (cm)']]


iris.columns

iris['test3'] = pd.qcut(iris['sepal width (cm)'], q=3, labels=['short', 'middle', 'long'])
iris['test3']

pd.Series(iris['test3']).value_counts().to_frame()

pd.Series(iris['test3']).value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

short     57
middle    50
long      43
Name: test3, dtype: int64

In [90]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'col':['aaa', 'bbb', 'ccc', 'ddd', None]
    , 'col2':[111,222,333,None,555]   
})

# df1.head(2)

df2 = pd.DataFrame(np.array([['test1', 111], ['test222', 222]]), columns=['col1', 'col2'])

# df2.head(2)


print(f"na={df1['col2'].isna().sum():.3f}")
      
df1.sort_index(axis=1, ascending=True, inplace=False)
      
df1.sort_index(axis=1, ascending=False, inplace=False)
      
# 열 방향으로 합침
pd.concat([df1, df2], axis=0)
      
# 행 방향으로 합침
pd.concat([df1, df2], axis=1)

na=1.000

    col   col2     col1 col2
0   aaa  111.0    test1  111
1   bbb  222.0  test222  222
2   ccc  333.0      NaN  NaN
3   ddd    NaN      NaN  NaN
4  None  555.0      NaN  NaN